{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
{% endblock head %}

{% block body %}

    <h1>{{ career.name }}</h1>
    <hr>
    <main>
        <div>
            <h3>Strength {{ career.strength }}</h3>
            <h3>Perception {{ career.perception }}</h3>
            <h3>Endurance {{ career.endurance }}</h3>
            <h3>Charisma {{ career.charisma }}</h3>
            <h3>Intelligence {{ career.intelligence }}</h3>
            <h3>Agility {{ career.agility }}</h3>
            <h3>Luck {{ career.luck }}</h3>
        </div>
        <hr>
        <div>
            <h5>Barter {{ career.barter }}</h5>
            <h5>Big Guns {{ career.big_guns }}</h5>
            <h5>Energy Weapons {{ career.energy_weapons }}</h5>
            <h5>Explosives {{ career.explosives }}</h5>
            <h5>Lock Pick {{ career.lock_pick }}</h5>
            <h5>Medicine {{ career.medicine }}</h5>
            <h5>Melee Weapons {{ career.melee_weapons }}</h5>
            <h5>Repair {{ career.repair }}</h5>
            <h5>Science {{ career.science }}</h5>
            <h5>Small Guns {{ career.small_guns }}</h5>
            <h5>Sneak {{ career.sneak }}</h5>
            <h5>Speech {{ career.speech }}</h5>
            <h5>Unarmed {{ career.unarmed }}</h5>
        </div>
    </main>
{% endblock body %}