{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
{% endblock styles %}

{% block body %}
<main>
    <div id="questionContainer">
        <h2 id="question">{{ question[0].question }}</h2>
        <div id="answerContainer">
            <p id="answerOne">{{ question.answer_one }}</p>
            <p id="answerTwo">{{ question.answer_two }}</p>
            <p id="answerThree">{{ question.answer_three }}</p>
            <p id="answerFour">{{ question.answer_four }}</p>
        </div>
    </div>
</main>
    
{% endblock body %}